---
import FormattedDate from './FormattedDate.astro'

import type { useTranslations } from '../i18n/utils'

type TranslationFn = ReturnType<typeof useTranslations>

interface Props {
	experiences: {
		slug: string
		data: {
			title: string
			company: string
			location: string
			description: string
			startDate: Date
			endDate?: Date
			[key: string]: any // <-- allows fields like id, body, etc.
		}
		[key: string]: any // <-- allows fields like id, body, etc.
	}[]
	t: TranslationFn
}

const { experiences, t } = Astro.props
---

<div class="flex justify-center">
	<ol class="relative border-s border-gray-200 dark:border-gray-700">
		{
			experiences.map((experience) => (
				<li class="mb-10 ms-6">
					<span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
						<svg
							class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
						</svg>
					</span>
					<h3 class="mb-1 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
						{experience.data.title}
						{!experience.data.endDate && (
							<span class="me-2 ms-3 rounded-sm bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">
								{t('experience.tag.current')}
							</span>
						)}
					</h3>
					<p class="mb-2 mt-3 text-lg font-normal leading-none">
						<div class="flex flex-row items-center space-x-5 text-gray-200 dark:text-gray-400">
							<div class="flex flex-row items-center space-x-2">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-building-fill"
									viewBox="0 0 16 16"
								>
									<path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5M4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
								</svg>

								<span>
									<p>{experience.data.company}</p>
								</span>
							</div>
							<div class="space flex flex-row items-center space-x-2">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-geo-alt-fill"
									viewBox="0 0 16 16"
								>
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
								</svg>
								<span>{experience.data.location}</span>
							</div>
						</div>
					</p>
					<p class="prose mb-2 mt-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
						{t('experience.text.from')}
						<time /> <FormattedDate date={experience.data.startDate} />
						{experience.data.endDate && (
							<span>
								{t('experience.text.to')}
								<FormattedDate date={experience.data.endDate} />
							</span>
						)}
					</p>
					<p class="prose mt-4 max-w-2xl dark:prose-invert prose-headings:underline prose-p:text-justify">
						{experience.data.description}
					</p>
				</li>
			))
		}
	</ol>
</div>
